body{
    background-color: rgb(250, 255, 250);
    font-family: "Crimson Text", serif;
    font-size: 120%;
	line-height: 1.5;
   }

.titulo_site {
    font-size: 60px; 
    background-color: rgb(120, 30, 60);
    color: rgb(250, 255, 250);
    text-align: center;
    padding: 25px;
    border-bottom: 10PX solid black;
    text-transform: uppercase;
}

.subtitulo_site{
    font-size: 30px;
    font-family:"Open Sans Condensed", sans-serif;
    clear: both;
    
}
p {
    text-align:justify;
    margin: 20px 0;
    
}
.citacao_site {
    background-color: #D3DDDA;
    padding: 20px;
    border: 10PX solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #C2CCCA;
    border-left-color: #C2CCCA;
    width: 250px;
    margin: 0px 10px;
    box-sizing: border-box;
    float: right;
}
.citacao_site.fiat {
    float: right;
    margin-bottom: 15px;
    margin-right: 20px;
    
}
.citacao_site.petrobras {
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
}
.navegacao-site {
    clear:right;
	width: 15%;
	top: 310px;
	position: relative;
    padding: 20px;
}
.navegacao_site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    }
.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}
main {
    float: left;
    width: 85%;
}
.corpo_site {
    width: 720px;
    margin: auto;
    padding: 30px;
    }

.icones-sociais li {
    display: inline-block;
}
.icones-sociais a {
width: 40px;
height: 40px;
display: inline-block;
text-indent: -9999px;
}
.github {
background-image: url(../img/github.png);
}
.twitter {
background-image: url(../img/twitter.png);
    }
.linkedin {
background-image: url(../img/linkedin.png);
}

titulo_site h1{
    text-transform: uppercase;
}
h1 {
    text-transform: uppercase;
}
nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}
nav a{
    color: inherit;
    text-transform: lowercase;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20PX;
}
.navegacao_site {
    float: right;
    position: relative;
    top: 310px;
    width: 15%;
    box-sizing: border-box;
    border-left: 10px solid black;
	border-bottom: 10px solid black;
    }
cite {
	font-style: italic;
	float: right;
}
.minha-foto {
	position: absolute;
	top: 0;
	right: 0;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
}

main {
   padding-bottom: 80px;
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    padding: 20;
}