body{
    background-color: rgb(250, 255, 250);
    font-family: "Crimson Text", serif;
   }

.titulo_site {
    font-size: 60px; 
    background-color: rgb(120, 30, 60);
    color: rgb(250, 255, 250);
    text-align: center;
    font-family:"Open Sans Condensed",  sans-serif;
    padding: 20px;
    margin: 0;
    line-height: 3;
    border-bottom: 10PX solid black;
}
.subtitulo_site{
    font-size: 30px;
    font-family:"Open Sans Condensed", sans-serif;
    
}
p {
    text-align:justify;
    font-size: 20px;
    margin: 20px 0;
    
}
.citacao_site {
    background-color: #D3DDDA;
    padding: 16px;
    border: 10PX solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #FFF;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}
.navegacao_site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}
.corpo_site{
    width: 720px;
    margin: 100px;
    margin-top: 10px;
    padding: 30px;
    padding-bottom: 80px;
}

.icones-sociais li{
    display: inline-block;
}
.leia_mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
    
}

nav h1{
    font-size: 30px;
    margin-bottom: 25px;    
     
}nav a{
    color: inherit;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20PX;
}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
