
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <form action="/Categoria/Adiciona" method="post">
        <label for="nome">Nome:</label>
        <input name="categoria.Nome" id="descricao"/>
       

        <label for="descricao"> Descrição:</label>
        <input name="categoria.Descricao" id="descricao"/>

        <input type="submit" value="Cadastrar"/>
       </form>
</body>
</html>
